@import "tailwindcss";

@theme {
  --color-surface-dim: #dcdad3;
  --color-primary-fixed: #ffdbd0;
  --color-on-surface: #1c1c18;
  --color-inverse-on-surface: #f3f0e9;
  --color-on-primary-container: #fffbff;
  --color-on-primary-fixed-variant: #842500;
  --color-on-tertiary-container: #fffbff;
  --color-tertiary-fixed: #dee0ff;
  --color-tertiary: #1d44ef;
  --color-surface-container-highest: #e5e2db;
  --color-on-tertiary-fixed-variant: #002fc9;
  --color-inverse-surface: #31312c;
  --color-on-primary: #ffffff;
  --color-secondary-container: #e5e2e1;
  --color-on-background: #1c1c18;
  --color-secondary-fixed: #e5e2e1;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container: #f1eee7;
  --color-surface-container-high: #ebe8e1;
  --color-surface-container-low: #f6f3ec;
  --color-surface-bright: #fcf9f2;
  --color-on-surface-variant: #5c4037;
  --color-surface: #fcf9f2;
  --color-primary-container: #d34000;
  --color-secondary: #5f5e5e;
  --color-outline: #916f65;
  --color-surface-variant: #e5e2db;
  --color-tertiary-container: #4664ff;
  --color-background: #fcf9f2;
  --color-primary: #a93100;

  --spacing-margin: 1.25rem;
  --spacing-margin-tablet: 3rem;
  --spacing-margin-desktop: 5rem;
  --spacing-space-xs: 0.5rem;
  --spacing-space-sm: 0.75rem;
  --spacing-space-md: 1.25rem;
  --spacing-space-lg: 2.5rem;
  --spacing-space-xl: 4.5rem;
  --spacing-space-editorial: 11rem;
  --spacing-gutter: 1.5rem;
  --spacing-gutter-desktop: 2.5rem;
}

@theme inline {
  --font-sans: var(--font-geist-sans), Geist, system-ui, sans-serif;
}
